<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<table class="table table-striped" id="movies">
  <thead>
	<tr>
      <th>
        Title
      </th>
      <th>
        Rating
      </th>
      <th>
        Release Dtae
      </th>
	</tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr class="<%= ('adult' unless movie.rating =~ /^G|PG$/) %>">
        <td>
          <%= link_to movie.title, movie_path(movie) %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.year %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
